.container
	%form{ :action => "#", :id => "grok-form" }
		%input{ :type => "text", :class => "span12", :placeholder => "Input", :id => "input" }
		%input{ :type => "text", :class => "span12", :placeholder => "Pattern", :id => "input" }

