html, body, .container, .container-fluid, .content {
    height: 100%;
}

.container, .container-fluid, .content {
    position: relative;
}

.proper-content {
    padding-top: 60px; /* >= navbar height */
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -50px; /* same as the footer */
}

.push {
    height: 50px; /* same as the footer */
}
.footer-wrapper {
    position: relative;
    height: 50px;
}